# Variáveis de ambiente
.env
.env.local

# Cache Python
__pycache__/
*.pyc

# Ambientes virtuais
venv/
.env/

# VS Code
.vscode/
.idea/

# Logs
*.log

# Database files
*.db
*.sqlite
*.sqlite3
auth.db
catalog.db
orders.db
payments.db
notifications.db

# IDE
*.swp
*.swo
*~
.DS_Store

# Docker data
prometheus_data/
grafana_data/
